* {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  height: 40px;
}

nav ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ee171f;
  border-left: 10px solid #ee171f;
  width: 150px;
  font-weight: bold;
}

nav ul > li > * {
  color: black;
  text-decoration: none;
  text-align: center;
}

nav .menu {
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-search {
  width: 300px;
  background-color: #505050;
  margin-left: 10px;
  height: 40px;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  /* min-height: 100vh; */
  width: 100vw;
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
}

.App-header,
.App-page {
  padding-left: 120px;
  padding-right: 120px;
}

.App-page {
  padding-top: 20px;
  /* background-color: #909496; */
  background-color: #444444;
}

.element {
  display: flex;
  margin-left: 20px;
}

.element:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.element {
  /* background-color: darkgray; */
  background-color: #646464;
  width: 45%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 5px;
}

.element > img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.element > div {
  width: 70%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element > div > h2 {
  padding-top: 10px;
}
.element > div > p,
.element > div > h2 {
  text-align: left;
  padding: 10px;
  color: white;
}

.characters,
.comics {
  display: flex;
  flex-wrap: wrap;
}

.star-selected {
  background-color: yellow;
}

.star-not-selected {
  background-color: white;
}
@media (max-width: 768px) {
  .App-header,
  .App-page {
    padding-left: 5px;
    padding-right: 5px;
  }
  .App-header {
    flex-wrap: wrap;
    width: 100vw;
  }

  .App-search {
    width: 170px;
    margin-right: 10px;
  }

  nav ul {
    flex-direction: column;
    height: unset;
  }

  nav ul > li {
    height: 40px;
  }

  nav .menu {
    display: initial;
    width: 80px;
    height: 40px;
  }

  nav .bars {
    font-size: 60px;
  }

  .nav-display {
    display: unset;
    position: fixed;
    top: 60px;
  }

  .nav-hide {
    display: none;
  }

  .element {
    margin-left: 5px;
    width: 100%;
    height: 250px;
  }
  .element > div > h2 {
    /* font-size: 14px; */
    font-size: calc(10px + 2vmin);
    padding: 15px 5px 0 5px;
  }
  .element > div > p {
    /* font-size: 12px; */
    font-size: calc(10px + 2vmin);
  }

  .element > img {
    height: unset;
  }
}
