* {
  margin: 0;
  padding: 0;
  font-family: 'Cambria Cochin Georgia Times';
}

.App-header,
.App-page {
  padding-left: 120px;
  padding-right: 120px;
}

.bars-buttons ul {
  display: flex;
  height: 40px;
  padding-right: 120px;
}

.bars-buttons ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ee171f;
  border-left: 10px solid #ee171f;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
}

.bars-buttons ul > li .menu-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bars-buttons ul > li > * {
  color: black;
  text-decoration: none;
  text-align: center;
}

.bars-buttons .menu {
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  /* min-height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: white;
  position: fixed;
  z-index: 1;
}

.bars-buttons {
  display: flex;
  align-items: center;
  padding-right: 120px;
  box-sizing: border-box;
}

.App-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  /* background-color: #909496; */
  /* background-color: #27262b; */
  background-color: #1d1e22;
  top: 60px;
  position: absolute;
  z-index: 0;
}

.App-page .pagination {
  width: 100%;
}

.App-page .pagination > button {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ee171f;
  border-left: 10px solid #ee171f;
  width: 150px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.App-page .pagination > button:last-child {
  margin-left: 10px;
}

.element {
  display: flex;
  margin-left: 20px;
}

.element:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.element {
  /* background-color: darkgray; */
  /* background-color: #282c34; */
  background-color: #27262b;
  width: 45%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 10px;
  align-items: center;
}

.element > img {
  width: 40%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.element > div {
  width: 70%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element > div > p,
.element > div > h2 {
  text-align: left;
  padding: 10px;
  color: white;
  font-size: 14px;
}

.element > div > h2 {
  color: #e0e0e0;
  font-size: 16px;
}

.characters,
.comics {
  display: flex;
  flex-wrap: wrap;
}

.star-selected {
  color: yellow;
  cursor: pointer;
}

.star-not-selected {
  color: white;
  cursor: pointer;
}

.search-characters,
.search-comics {
  background-color: #505050;
  height: 40px;
  border-radius: 5px;
  color: white;
  width: 60%;
  font-size: 14px;
  margin-bottom: 20px;
}

/*Character */
.character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character-info .character {
  width: 100%;
}

.character-comics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
.character-info .character > .character {
  width: 92%;
  height: 400px;
}

.character-info .character > .character img {
  width: 100%;
}

.favorites {
  display: flex;
  flex-wrap: wrap;
}
/*End Character*/

/*SIGNUP LOGIN*/
/* Bouton servant à fermer la fenêtre modale */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* .container {
  padding: 2px 16px;
} */

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 60px;
  /* top: 50%; */
  left: 3%;
  /* background-color: #717171; */
  background-color: #28272f;
}

.modal-content > .container-signup,
.modal-content > .container-login {
  margin-left: 0px;
  width: 100%;
  background-color: #232c34;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
}

.modal-content > .container-signup h2,
.modal-content > .container-login h2 {
  padding-left: 10px;
  padding-top: 5px;
  flex: 10;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 1;
}

.modal-content form > input {
  width: 300px;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.07);
  font-size: 14px;
  font-weight: 300;
}

.modal-content form > input:not(:last-child) {
  border: none;
  border-bottom: 1px solid tomato;
  margin-bottom: 10px;
}

.modal-content form > input:last-child {
  background-color: var(--appGreenColor);
  color: white;
  border-color: var(--appGreenColor);
}

.modal-content form .terms {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px 0;
}

.modal-content form .terms span {
  font-size: 12px;
  margin-top: 10px;
}

.modal-content .already-signup,
.modal-content .signup {
  text-decoration: none;
  color: var(--appGreenColor);
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal-content > span {
  color: white;
}

#newsletter:checked {
  background-color: var(--appGreenColor);
}
/*END SIGNUP LOGIN*/

@media (max-width: 768px) {
  .App-header,
  .App-page {
    padding-left: 5px;
    padding-right: 5px;
  }

  .App-header {
    width: 100vw;
  }

  .bars-buttons {
    flex-direction: row-reverse;
    width: 60px;
  }

  .bars-buttons ul {
    flex-direction: column;
    height: unset;
  }

  .bars-buttons ul > li {
    height: 40px;
  }

  .bars-buttons .menu {
    display: initial;
    width: 80px;
    height: 40px;
    position: absolute;
    right: 1%;
  }

  .bars-buttons .bars {
    font-size: 60px;
  }

  .nav-display {
    display: unset;
    position: fixed;
    top: 60px;
    left: 0;
  }

  .nav-hide {
    display: none;
  }

  .element {
    margin-left: 5px;
    width: 100%;
    height: auto;
  }
  .element > img {
    width: 40%;
    height: unset;
  }

  .element > div {
    width: 60%;
  }
  .element > div > h2 {
    /* font-size: 14px; */
    font-size: calc(10px + 2vmin);
    padding: 10px 5px 0 5px;
  }
  .element > div > p {
    /* font-size: 12px; */
    font-size: calc(10px + 1vmin);
  }

  .comic {
    height: 300px;
  }
}

@media (min-width: 1280px) {
  .App-header {
    padding-left: 400px;
    padding-right: 400px;
  }
  .App-page {
    padding-left: 400px;
    padding-right: 400px;
  }

  .bars-buttons,
  .bars-buttons ul {
    padding-right: 400px;
  }
}
